%%def(name="field(fld, **kwargs)")
  .form-group(class_=('has-error' if fld.errors else ''))
    = fld.label(class_="control-label col-sm-2")
    .col-sm-10
      = field_input(fld, **kwargs)

%%def(name="vertical_field(fld, **kwargs)")
  .form-group(class_=('has-error' if fld.errors else ''))
    = fld.label(class_="control-label")
    = field_input(fld, **kwargs)

%%def(name="field_input(fld, **kwargs)")
  - from wtforms.widgets import CheckboxInput

  - if 'required' in kwargs and not kwargs['required']:
    - del kwargs['required']

  %span(class_=('has-error' if fld.errors else ''))
    - kwargs['class_'] = kwargs.get('class_', '')
    - if not isinstance(fld.widget, CheckboxInput):
      - kwargs['class_'] = kwargs['class_'] + ' form-control'

    = fld(**kwargs)
    - if fld.errors:
      %p.help-block
        - for err in fld.errors:
          &= err
              
