%%inherit(file="../layout.haml")
%%namespace(file="../bootstrap_wtf.haml", **{'import': '*'})
%%namespace(file="../paginator.haml", **{'import': '*'})

%%block(name="title")
  &= person.name

#merge-modal
  .modal-dialog
    .modal-content

#show-person
  %article
    %section.heading
      .pull-right
        %a.btn.btn-default(href=url_for('merge_person', id=person.id), dataToggle='modal', dataTarget='#merge-modal') This person is incorrectly named

      %h2
        &= person.name

      - if person.affiliation:
        %h4
          &= person.affiliation.name

    %section
      %form#edit-person(action=url_for('show_person', id=person.id), method='POST')
        = form.csrf_token
        .row
          .col-sm-6
            %section
              .gender-race-controls
                .row
                  .col-sm-4
                    = vertical_field(form.gender_id)
                  .col-sm-4
                    = vertical_field(form.race_id)
                  .col-sm-4.buttons
                    %input.btn.btn-default(type="submit", value="Save")
                    or
                    %a.cancel(href="#") cancel

              .gender-race
                %strong.text-muted
                  - if person.gender:
                    &= person.gender.name + ", "
                  -else:
                    &= "Unknown gender, "

                  - if person.race:
                    &= person.race.name
                  - else:
                    &= "unknown race"
                - if current_user.admin:
                  %span.edit-link
                    \—
                    %a.edit(href="#") Edit

            %section
              .aliases-controls
                %strong Aliases
                %section
                  - if form.alias_entity_ids.errors:
                    %ul.list-unstyled
                      - for error in form.alias_entity_ids.errors:
                        %li.text-warning.text-center Error:
                          &=error
                  %ul.list-unstyled.alias-list
                    - for subfield in form.alias_entity_ids:
                      %li
                        = subfield()
                        = subfield.label()

                  %input.form-control.new-alias-name(type='text', name='new-alias')

                .buttons
                  %input.btn.btn-default(type="submit", value="Save")
                  or
                  %a.cancel(href="#") cancel

              .aliases
                %strong Aliases
                - if current_user.admin:
                  %span.edit-link
                    \—
                    %a.edit(href="#") Edit
                %ul.list-inline
                  - for entity in person.entities:
                    %li&= entity.name

          - if current_user.admin and dups:
            .col-sm-4
              %section.dup-people
                %h4 Similarly named people
                %ul.list-unstyled
                  - for dup in dups:
                    %li
                      %a(href=url_for('show_person', id=dup.id))&= dup.name
                      .pull-right
                        %a.btn.btn-default.btn-xs(href=url_for('show_person', id=person.id, mergein=dup.id), dataMethod='post', dataConfirm='Do you want to merge %s into %s?\n\nYou cannot undo this.\n\nAre you sure?' % (dup.name, person.name)) Same person



    %section
      %h4
        Sourced by ${pagination.total} articles

      %ul.list-unstyled
        - for doc in docs:
          %li.list-item-document
            %i.fa.fa-chevron-right
            &=doc.published_at.strftime('%e %B %Y') + ' - '
            %a(href= url_for('show_article', id=doc.id))
              %strong&= doc.title
            %span.pull-right
              %span.label.label-primary.pull-right&=doc.medium.name
            - for utterance in doc.utterances:
              - if utterance.entity in person.entities:
                %li.list-item-utterance
                  %blockquote
                    %em&=utterance.quote

      = paginator('show_person', pagination, id=person.id)
