%%inherit(file="../layout.haml")
%%namespace(file="../helpers/paginator.haml", **{'import': '*'})
%%block(name="title")
  &= entity.name + " (" + entity.group + ")"

#show-document
  %article
    %section.heading
      .row
        .col-sm-7
          %h2&= entity.name
          .byline
            - if entity.updated_at:
              %span.timestamp&= "Last updated: " + entity.updated_at.strftime('%Y-%m-%d')
        .col-sm-5
          - if entity.group == 'person':
            %form(method='post', action=url_for('new_person'), dataConfirm='Are you sure?')
              %input(type='hidden', name='csrf_token', value=csrf_token())
              %input(type='hidden', name='name', value=entity.name)
              %input(type='hidden', name='entity_id', value=entity.id)
              .alert.alert-info
                .row
                  .col-sm-8
                    %p
                      We think
                      %strong&= entity.name
                      is a person, but we're not sure.
                  .col-sm-4.text-right
                      %input.btn.btn-default(type='submit', value='This is a person')
              


    %section
      %h4
        Mentions
        %span.badge.badge-default&= pagination.total

      %ul.list-unstyled
        - for doc in docs:
          %li.list-item-document
            %i.fa.fa-chevron-right
            &=doc.published_at.strftime('%e %B %Y') + ' - '
            %a(href= url_for('show_article', id=doc.id))
              %strong&= doc.title
            %span.pull-right
              %span.label.label-primary.pull-right&=doc.medium.name
            - for utterance in doc.utterances:
              - if utterance.entity == entity:
                %li.list-item-utterance
                  %blockquote
                    %em&=utterance.quote

      = paginator('show_entity', pagination, group=entity.group, name=entity.name)
