%%namespace(file="../helpers/bootstrap_wtf.haml", **{'import': '*'})
- from dexter.models import AnalysisNature

%form.activity-refine(action=url_for(request.url_rule.endpoint), method='GET')

  .panel.panel-default
    .panel-heading
      %h3.panel-title
        Explore articles

    .panel-body

      .form-group.analysis_nature(class_='hidden' if form.cluster_id.data else '')
        = form.analysis_nature_id.label(class_='control-label')
        %input(type="hidden", name=form.analysis_nature_id.name, value=form.analysis_nature_id.data)

        .dropdown
          %button.btn.btn-default.dropdown-toggle(type="button", dataToggle='dropdown')
            %i.fa.fa-fw(class_=form.analysis_nature().icon())
            &= form.analysis_nature().name

      = form.cluster_id
      - if form.cluster_id.data:
        .form-group.cluster
          %label.control-label
            Topic
          %div
            %code
              &= form.cluster().fingerprint[0:8]
              %a.remove-cluster(href='#')
                %i.fa.fa-times


      .form-group
        = form.published_at.label()
        .input-group
          = form.published_at(class_='form-control use-daterangepicker')
          %span.input-group-btn
            %button.btn.btn-default(dataClear='input-group')
              %i.fa.fa-times



      = vertical_field(form.country_id, class_='select2', placeholder='(any)')

      = vertical_field(form.q)

      = vertical_field(form.tags, class_='select2-tags', autocomplete='off', **{'data-choices': ','.join(form.tags.choices)})

    .panel-footer
      .row
        .col-sm-3.col-sm-offset-6
          %input(type="hidden", name="format")
            .dropdown
              %button.btn.btn-default.form-control.dropdown-toggle(type="button", dataToggle='dropdown')
                %i.fa.fa-download
                Download FDI Data
                %span.caret

              %ul.dropdown-menu
                %li
                  %a.download(href="#", dataFormat="xlsx") Raw data (.xlsx)

        .col-sm-3
          %input.btn.btn-success.form-control(type='submit', value='Submit')
