%%def(name="field(fld, **kwargs)")
  - from wtforms.widgets import CheckboxInput, RadioInput
  - chkbox = isinstance(fld.widget, (CheckboxInput, RadioInput))

  .form-group(class_=('has-error' if fld.errors else ''))
    - if not chkbox:
      = fld.label(class_="control-label col-sm-2")

    .col-sm-10(class_='col-sm-offset-2' if chkbox else '')
      = field_input(fld, **kwargs)

%%def(name="vertical_field(fld, **kwargs)")
  .form-group(class_=('has-error' if fld.errors else ''))
    = fld.label(class_="control-label")
    = field_input(fld, **kwargs)

%%def(name="field_input(fld, **kwargs)")
  - from wtforms.widgets import CheckboxInput, RadioInput
  - chkbox = isinstance(fld.widget, (CheckboxInput, RadioInput))
  - if 'required' in kwargs and not kwargs['required']:
    - del kwargs['required']
  - kwargs['class_'] = kwargs.get('class_', '')
  - if not chkbox:
    - kwargs['class_'] = kwargs['class_'] + ' form-control'

  %span(class_=('has-error' if fld.errors else ''))
    - if chkbox:
      .checkbox
        - label_args = {'for': fld.label.field_id}
        %label(**label_args)
          = fld(**kwargs)
          &= fld.label.text
        - if fld.errors:
          %p.help-block
            - for err in fld.errors:
              &= err
    - else:
        = fld(**kwargs)
        - if fld.errors:
          %p.help-block
            - for err in fld.errors:
              &= err

%%def(name="area_input(fld, **kwargs)")
  - from wtforms.widgets import TextArea
  - if 'required' in kwargs and not kwargs['required']:
    - del kwargs['required']
  - kwargs['class_'] = kwargs.get('class_', '')
  - kwargs['class_'] = kwargs['class_'] + ' form-control'
  - kwargs['rows'] = 6

  %span(class_=('has-error' if fld.errors else ''))
    .checkbox
      = fld(**kwargs)
      - if fld.errors:
        %p.help-block
          - for err in fld.errors:
            &= err

