%%inherit(file="../layout.haml")
%%namespace(file="../paginator.haml", **{'import': '*'})
%%namespace(file="../bootstrap_wtf.haml", **{'import': '*'})

%%block(name='title')
  Coverage map

%%block(name="extra_header_tags")
  - for url in webassets('maps-css'):
    %link(rel="stylesheet", href=url)


%%block(name='extra_javascript')
  - for url in webassets('coveragemap'):
    %script(src=url)


%article#activity
  %h3
    &= document_count
    Article${'' if document_count == 1 else 's'}

  .row
    .col-sm-9
      #tab-map.tab-pane
        #slippy-map

    .col-sm-3
      %form.coverage-refine(action=url_for('coverage_map'), method='GET')

        .panel.panel-default
          .panel-heading
            %h3.panel-title
              Refine

          .panel-body
            = vertical_field(form.medium_id, class_='select2')
            .form-group
              = form.published_at.label()
              .input-group
                = form.published_at(class_='form-control use-daterangepicker')
                %span.input-group-btn
                  %button.btn.btn-default(dataClear='input-group')
                    %i.fa.fa-times
            .form-group
              .input-group
                = form.level
                = form.selected_area

          .panel-footer
            %input.btn.btn-success(type='Submit', value='Update')
