%%namespace(file="../helpers/bootstrap_wtf.haml", **{'import': '*'})
- from dexter.models import AnalysisNature

%form.activity-refine(action=url_for(request.url_rule.endpoint), method='GET')

  .panel.panel-default
    .panel-heading
      %h3.panel-title
        Explore articles

    .panel-body
      .row
        .col-sm-3
          .form-group.analysis_nature(class_='hidden' if form.cluster_id.data else '')
            = form.analysis_nature_id.label(class_='control-label')
            %input(type="hidden", name=form.analysis_nature_id.name, value=form.analysis_nature_id.data)

            .dropdown
              %button.btn.btn-default.dropdown-toggle(type="button", dataToggle='dropdown')
                %i.fa.fa-fw(class_=form.analysis_nature().icon())
                &= form.analysis_nature().name
                %span.caret
              %ul.dropdown-menu
                - for nature in form.natures:
                  %li(class_ = 'disabled' if form.analysis_nature() == nature else '')
                    %a(href="#", dataNature=nature.id)
                      %i.fa.fa-fw(class_=nature.icon())
                      &= nature.name
                      - if form.analysis_nature() == nature:
                        %i.fa.fa-check

          = form.cluster_id
          - if form.cluster_id.data:
            .form-group.cluster
              %label.control-label
                Topic
              %div
                %code
                  &= form.cluster().fingerprint[0:8]
                  %a.remove-cluster(href='#')
                    %i.fa.fa-times

        .col-sm-3
          .form-group
            = form.published_at.label()
            .input-group
              = form.published_at(class_='form-control use-daterangepicker')
              %span.input-group-btn
                %button.btn.btn-default(dataClear='input-group')
                  %i.fa.fa-times

        .col-sm-3
          .form-group
            = form.created_at.label()
            .input-group
              = form.created_at(class_='form-control use-daterangepicker')
              %span.input-group-btn
                %button.btn.btn-default(dataClear='input-group')
                  %i.fa.fa-times

        .col-sm-3
          = vertical_field(form.medium_id, class_='select2')

      .row
        .col-sm-3
          = vertical_field(form.country_id)
          = vertical_field(form.user_id)

        .col-sm-3.problems
          .form-group
            = form.problems.label()
            .input-group
              - for fld in form.problems:
                - args = {'data-problem': fld.label.text}
                = field_input(fld, **args)

        .col-sm-3
          = vertical_field(form.q)

          %label.control-label Markers

          .form-group
            .checkbox
              - kwargs = {"for": 'flagged'}
              %label(**kwargs)
                - args = {'data-problem': form.flagged.label.text}
                = form.flagged(**args)
                %i.fa.fa-flag.flag-set.article-flag
                = form.flagged.label.text

          .form-group.has-url
            .btn-group(dataToggle='buttons', dataCanUntoggle='1')
              - for fld in form.has_url:
                %label.btn.btn-default(class_='active' if fld.checked else '')
                  = fld()
                  &= fld.label.text
                  - if fld.data == '1':
                    %i.fa.fa-link

        .col-sm-3
          -# need to inject the name of the person for the select2 field
          -# to setup correctly
          - person = form.source_person()
          - kwargs = {'data-text': person and person.name or ''}
          = vertical_field(form.source_person_id, **kwargs)
          = vertical_field(form.tags, class_='select2-tags', autocomplete='off', **{'data-choices': ','.join(form.tags.choices)})

    .panel-footer
      .row
        .col-sm-3.col-sm-offset-6
          %input(type="hidden", name="format")
          - if current_user.admin:
            .dropdown
              %button.btn.btn-default.form-control.dropdown-toggle(type="button", dataToggle='dropdown')
                %i.fa.fa-download
                Download
                %span.caret

              %ul.dropdown-menu
                %li
                  %a.download(href="#", dataFormat="xlsx") Raw data (.xlsx)

                %li(class_='disabled' if form.analysis_nature().nature != AnalysisNature.CHILDREN else '')
                  %a.download(href="#", dataFormat="children-ratings.xlsx")
                    %i.fa(class_=AnalysisNature.ICONS[AnalysisNature.CHILDREN])
                    Children Ratings (.xlsx)

        .col-sm-3
          %input.btn.btn-success.form-control(type='submit', value='Explore')
