%%namespace(file="../helpers/trends.haml", **{'import': '*'})

%%def(name="show_source(i, source, utterances)")
  %tr
    %td.rank ${i+1}.
    %td
      %a(href=url_for('show_person', id=source.person.id))&= source.person.name
      %span.text-muted
        - if source.person.gender:
          •
          %span(title=source.person.gender.name)&= source.person.gender.abbr()
        - if source.person.race:
          •
          %span(title=source.person.race.name)&= source.person.race.abbr()

    %td&= source.source_counts_total
    %td.sparkline(dataSparkline=','.join(str(round(i, 0)) for i in source.source_counts), dataLabel='{point.y}%')
    %td.trend
      = trend_arrow(source.source_counts_trend)
    %td&= source.person.affiliation and source.person.affiliation.name or ''
    %td
      %a.show-utterances(href="#")&= source.utterance_count or ''

  - if utterances:
    %tr.utterances.hidden
      %td(colspan="7")
        %ul.unstyled-list
          - for u in utterances:
            %li
              - if u.count > 1:
                %span.badge.badge-default&= u.count
              &= u.quote
