%%inherit(file="layout.haml")
%%namespace(file="../helpers/trends.haml", **{'import': '*'})

%%block(name='title')
  Source Analysis

- import itertools

%section
  %h3 Top People Sources for ${source_analyser.n_documents} articles

%section
  %table.table.table-striped.table-condensed.analysis
    %tr
      %th
      %th Person
      %th
      %th.sparkline Source frequency
      %th
      %th Affiliation
      %th
        %i.fa.fa-comment(title='Quotations')

    - for i, source in enumerate(source_analyser.top_people):
      %tr
        %td.rank ${i+1}.
        %td
          %a(href=url_for('show_person', id=source.person.id))&= source.person.name
          %span.text-muted
            - if source.person.gender:
              •
              %span(title=source.person.gender.name)&= source.person.gender.abbr()
            - if source.person.race:
              •
              %span(title=source.person.race.name)&= source.person.race.abbr()

        %td&= source.source_counts_total
        %td.sparkline(dataSparkline=','.join(str(round(i, 0)) for i in source.source_counts), dataLabel='{point.y}%')
        %td.trend
          = trend_arrow(source.source_counts_trend)
        %td&= source.person.affiliation and source.person.affiliation.name or ''
        %td&= source.utterance_count or ''

%section
  %h3 Trending People

%section
  %table.table.table-striped.table-condensed.analysis
    %tr
      %th
      %th Person
      %th
      %th.sparkline Source frequency
      %th
      %th Affiliation
      %th
        %i.fa.fa-comment(title='Quotations')

    - for group in [source_analyser.people_trending_up, source_analyser.people_trending_down]:
      - for i, source in enumerate(group):
        %tr
          %td.rank ${i+1}.
          %td
            %a(href=url_for('show_person', id=source.person.id))&= source.person.name
            %span.text-muted
              - if source.person.gender:
                •
                %span(title=source.person.gender.name)&= source.person.gender.abbr()
              - if source.person.race:
                •
                %span(title=source.person.race.name)&= source.person.race.abbr()

          %td&= source.source_counts_total
          %td.sparkline(dataSparkline=','.join(str(round(i, 0)) for i in source.source_counts), dataLabel='{point.y}%')
          %td.trend
            = trend_arrow(source.source_counts_trend)
          %td&= source.person.affiliation and source.person.affiliation.name or ''
          %td&= source.utterance_count or ''


%section
  %h3 Popular People without a race, gender or affiliation

%section
  - if not problem_people:
    %p
      %i None

  - else:
    %table.table.table-striped.table-condensed.analysis
      %tr
        %th Person
        %th
        %th Gender
        %th Race
        %th Affiliation

      - for person in problem_people:
        %tr
          %td
            %a(href=url_for('show_person', id=person.id))&= person.name
          %td&= source_analyser.analysed_people[person.id].source_counts_total
          %td&= person.gender and person.gender.name or ''
          %td&= person.race and person.race.name or ''
          %td&= person.affiliation and person.affiliation.name or ''
