.panel.panel-default.analysis
  .panel-heading
    .row
      .col-sm-8
        %h3.panel-title Analysis
      .col-sm-4.text-right
        %a.btn.btn-default(href=url_for('edit_article_analysis', id=document.id))
          %i.fa.fa-pencil
          Edit analysis

  .panel-body
    %section
      %dl.dl-horizontal
        %dt Topic
        %dd&= document.topic.name if document.topic else '(none)'
        %dt Origin
        %dd&= document.origin.name if document.origin else '(none)'

    %hr
    %section.issues
      %h4 Issues Raised
      - if not document.issues:
        %p
          No issues have been tagged.

      - for issue in document.issues:
        %span.label.label-info(title=issue.description, dataToggle="tooltip", dataContainer="body")&=issue.name

    %hr
    %section.fairness
      %h4 Bias
      - if not document.fairness:
        %p No fairness provided.

      - if document.fairness:
        %table.table-striped.table-condensed
          %thead
            %tr
              %th Bias
              %th Favour
              %th Disfavour
          %tbody
            - for df in document.fairness:
              %tr
                %td&= df.fairness.name
                %td&= df.bias_favour.full_name() if df.bias_favour else ''
                %td&= df.bias_oppose.full_name() if df.bias_oppose else ''


    %hr
    %section
      %ul.nav.nav-pills
        %li.active
          %a(href="#sources-tab", dataToggle="tab")
            Sources
            %span.badge&= len(document.sources)
        %li
          %a(href="#mentions-tab", dataToggle="tab")
            Mentions
            %span.badge&= len(document.people()) + len(document.organisations())
        %li
          %a(href="#places-tab", dataToggle="tab")
            Places
            %span.badge&= len(document.places())
        %li
          %a(href="#keywords-tab", dataToggle="tab")
            Keywords
            %span.badge&= len(document.keywords)

      .tab-content
        #sources-tab.tab-pane.active
          %h3 Sources
          %table.table.table-striped.table-condensed.offsets.sources
            %thead
              %tr
                %th
                  .row
                    .col-sm-5
                      Name
                    .col-sm-4
                      Function
                    .col-sm-2
                      Quoted?
            %tbody
              - sources = sorted(document.sources, key=lambda s: [not s.manual, s.entity.name])
              - for ds in sources:
                %tr(dataOffsets=ds.offset_list)
                  %td
                    .row
                      .col-sm-5
                        %a(href= url_for('show_entity', group=ds.entity.group, name=ds.entity.name))&=ds.entity.name
                        - if ds.person and ds.person.gender:
                          %span.text-muted(title=ds.person.gender.name)
                            %strong&=
                              " - " + ds.person.gender.abbr()
                        - if ds.person and ds.person.race:
                          %span.text-muted(title=ds.person.race.name)
                            %strong&=
                              " (" + ds.person.race.abbr() + ")"

                      .col-sm-4
                        - if ds.function:
                          %span.label.label-default&=ds.function.name
                      .col-sm-2
                        &= 'quoted' if ds.quoted else 'not quoted'
                        - if len(ds.utterances()) > 0:
                          %span.badge&= len(ds.utterances())
                      .col-sm-1
                        - if ds.manual:
                          %i.fa.fa-check-circle(title='Added manually by a monitor')

                - for q in ds.utterances():
                  %tr.quotation(dataOffsets=('%d:%d' % (q.offset, q.length) if q.offset else ''))
                    %td&= q.quote

        %%include(file='analysis_tab_mentions.haml')
        %%include(file='analysis_tab_places.haml')
        %%include(file='analysis_tab_keywords.haml')

  .panel-footer
    .text-right
      %a.btn.btn-default(href=url_for('edit_article_analysis', id=document.id))
        %i.fa.fa-pencil
        Edit analysis
