.panel.panel-default.analysis
  .panel-heading
    .row
      .col-sm-8
        %h3.panel-title
          Analysis
          - if document.checked_by:
            by
            &= document.checked_by.short_name()
      .col-sm-4.text-right
        - if document.can_user_edit(current_user):
          %a.btn.btn-default(href=url_for('edit_article_analysis', id=document.id))
            %i.fa.fa-pencil
            Edit analysis

  .panel-body
    %%include(file="analysis_warnings.haml")

    %section
      %ul.nav.nav-tabs
        %li.active
          %a(href="#analysis-tab", dataToggle="tab") Analysis
        %li
          %a(href="#mentions-tab", dataToggle="tab")
            Mentions
            %span.badge&= len(document.people()) + len(document.organisations())
        %li
          %a(href="#places-tab", dataToggle="tab")
            Places
            %span.badge&= len(document.places())
        %li
          %a(href="#keywords-tab", dataToggle="tab")
            Keywords
            %span.badge&= len(document.keywords)

      .tab-content
        #analysis-tab.tab-pane.active
          %section
            %h4 Analysis
            %dl.dl-horizontal
              %dt Topic
              %dd&= document.topic.name if document.topic else '(none)'
              %dt Origin
              %dd&= document.origin.name if document.origin else '(none)'

          %section
            %h4 Sources
            %table.table.table-striped.table-condensed.offsets.sources
              %thead
                %tr
                  %th
                    .row
                      .col-sm-4 Name
                      .col-sm-3 Function
                      .col-sm-3 Affiliation
                      .col-sm-1 Quoted?
              %tbody
                - sources = sorted(document.sources, key=lambda s: s.sort_key())
                - for ds in sources:
                  %tr(dataOffsets=ds.offset_list)
                    %td
                      .row
                        .col-sm-4
                          - if not ds.person:
                            &= ds.friendly_name()
                          - else:
                            -# it's a proper person
                            %a(href=url_for('show_person', id=ds.person.id))&=ds.person.name

                          - if ds.gender():
                            %span.text-muted(title=ds.gender().name)
                              %strong&=
                                " - " + ds.gender().abbr()
                          - if ds.race():
                            %span.text-muted(title=ds.race().name)
                              %strong&=
                                " (" + ds.race().abbr() + ")"

                        .col-sm-3.function
                          - if ds.function:
                            &=ds.function.name
                        .col-sm-3
                          - if ds.affiliation:
                            &=ds.affiliation.full_name()
                        .col-sm-1
                          - if not ds.quoted:
                            no
                          - else:
                            - if len(ds.utterances()) > 0:
                              %span.badge&= len(ds.utterances())
                            - else:
                              yes

                        .col-sm-1
                          - if ds.manual:
                            %i.fa.fa-check-circle(title='Added manually by a monitor')

                  - for q in ds.utterances():
                    %tr.quotation(dataOffsets=('%d:%d' % (q.offset, q.length) if q.offset else ''))
                      %td&= q.quote

          %hr
          %section.issues
            %h4 Issues Raised
            - if not document.issues:
              %p
                No issues have been tagged.

            - for issue in document.issues:
              %span.label.label-info(title=issue.description, dataToggle="tooltip", dataContainer="body")&=issue.name

          %hr
          %section.fairness
            %h4 Bias
            - if not document.fairness:
              %p No fairness provided.

            - if document.fairness:
              %table.table-striped.table-condensed
                %thead
                  %tr
                    %th Bias
                    %th Favour
                    %th Disfavour
                %tbody
                  - for df in document.fairness:
                    %tr
                      %td&= df.fairness.name if df.fairness else ''
                      %td&= df.bias_favour.full_name() if df.bias_favour else ''
                      %td&= df.bias_oppose.full_name() if df.bias_oppose else ''

        %%include(file='analysis_tab_mentions.haml')
        %%include(file='analysis_tab_places.haml')
        %%include(file='analysis_tab_keywords.haml')

  .panel-footer
    .text-right
      %a.btn.btn-default(href=url_for('edit_article_analysis', id=document.id))
        %i.fa.fa-pencil
        Edit analysis
