- from dexter.helpers import format_paragraphs

%section
  %ul.list-unstyled
    %li
      %i.fa.fa-plus-circle
      Added
      - if document.created_by:
        by
        &= document.created_by.short_name()
      on ${document.created_at.strftime('%Y-%m-%d')}

%section
  .row
    .col-sm-6
      .timestamp
        %i.fa.fa-calendar
        - if document.published_at:
          - if document.published_at.hour == 0 and document.published_at.minute == 0:
            &= document.published_at.strftime('%Y-%m-%d')
          - else:
            &= document.published_at.strftime('%Y-%m-%d %H:%M')
    .col-sm-6
      .medium
        %i.fa.fa-building-o
          - if document.medium:
            &= document.medium.name
  .row
    .col-sm-6
      .document-type
        %i.fa.fa-folder
        - if document.document_type:
          &= document.document_type.name
    .col-sm-6
      - if document.item_num is not None:
        %i.fa.fa-list-ul
        Item
        &= document.item_num

  .author
    %i.fa.fa-user
    - if document.author:
      - if document.author.person:
        %a(href=url_for('show_person', id=document.author.person.id))
          &= document.author.person.name
      - else:
        &= document.author.name
      (${document.author.author_type.name|h})

%section
  %p.article-summary
    %em&= document.summary
  .article-text(dataOriginal=document.text.replace("\r", "\n"))
    = format_paragraphs(document.text)

