- from dexter.helpers import format_paragraphs

%section
  .row
    .col-sm-6
      .timestamp
        %i.fa.fa-calendar
        - if document.published_at:
          &= document.published_at.strftime('%Y-%m-%d %H:%M')
    .col-sm-6
      .medium
        %i.fa.fa-building-o
          - if document.medium:
            &= document.medium.name
  .row
    .col-sm-6
      .document-type
        %i.fa.fa-folder
        - if document.document_type:
          &= document.document_type.name
    .col-sm-6
      - if document.item_num is not None:
        %i.fa.fa-list-ul
        Item
        &= document.item_num

  .author
    %i.fa.fa-user
    - if document.author:
      - if document.author.person:
        &= document.author.person.name
      - else:
        &= document.author.name
      (${document.author.author_type.name|h})

%section
  %p.article-summary
    %em&= document.summary
  .article-text(dataOriginal=document.text.replace("\r", "\n"))
    = format_paragraphs(document.text)

