%%inherit(file="layout.haml")
%%namespace(file="../helpers/bootstrap_wtf.haml", **{'import': '*'})

- from itertools import izip
- from dexter.models import AnalysisNature

%%block(name="title")
  &= document.title

%%block(name="article_header_controls")
  %a.btn.btn-default(href=url_for('edit_article', id=document.id))
    %i.fa.fa-pencil
    Edit article
  %button.btn.btn-success.submit(type='button', dataDisableWith='Saving...')
    %i.fa.fa-tasks
    Save analysis
  %br
  %a.btn.btn-link(href=url_for('show_article', id=document.id)) Cancel

.row
  .col-sm-5
    %%include(file="details.haml")

  .col-sm-7
    %form.safedirty.edit-analysis(action=url_for('edit_article_analysis', id=document.id), method='POST', dataRemote='true')
      = form.csrf_token

      .panel.panel-default.analysis
        .panel-heading
          %h3.panel-title
            %i.fa(class_=document.analysis_nature.icon())
            &= document.analysis_nature.name.title()
            Analysis
            - if document.checked_by:
              by
              &= document.checked_by.short_name()

        .panel-body
          %ul.nav.nav-tabs
            %li.active
              %a(href="#analysis-tab", dataToggle="tab") Analysis
            %li
              %a(href="#places-tab", dataToggle="tab")
                Places
                %span.badge&= len(document.places)
            %li
              %a(href="#mentions-tab", dataToggle="tab")
                Mentions
                %span.badge&= len(document.people()) + len(document.organisations())
            %li
              %a(href="#keywords-tab", dataToggle="tab")
                Keywords
                %span.badge&= len(document.keywords)

          .tab-content
            #analysis-tab.tab-pane.active
              %section.form-horizontal
                .row
                  .col-sm-2
                    %h4 Analysis
                  .col-sm-10
                    %label.article-flag(title="Flag this article")
                      %i.article-flag.fa.fa-lg.fa-flag(class_='flag-set' if form.flagged.data else '')
                      = form.flagged
                    = field_input(form.notes, maxlength=1024, placeholder='Why did you flag this article?', class_='hidden' if not form.flagged.data else '')

                %%include(file="analysis_warnings.haml")

                .form-group
                  %label.control-label.col-sm-2 Analysis
                  .col-sm-10
                    .btn-group
                      %button.btn.btn-default.dropdown-toggle(type="button", dataToggle='dropdown')
                        %i.fa(class_=document.analysis_nature.icon())
                        &= document.analysis_nature.name.title()
                        %span.caret
                      %ul.dropdown-menu
                        - for nature in natures:
                          %li(class_ = 'disabled' if document.analysis_nature == nature else '')
                            %a(href=url_for('edit_article_analysis_nature', id=document.id, nature=nature.name), dataMethod='post', dataConfirm='Change to %s analysis?' % nature.name)
                              - if document.analysis_nature == nature:
                                %i.fa.fa-check
                              %i.fa(class_=nature.icon())
                              &= nature.name.title()

                = field(form.topic_id, class_='select2')
                = field(form.origin_location_id, class_='select2')

              %hr
              %section.sources
                %%include(file='edit_analysis_sources.haml')

              - if form.issues.choices:
                %hr
                %section.form-horizontal
                  %h4 Issues Raised
                  - if form.issues.errors:
                    %ul.list-unstyled
                      - for error in form.issues.errors:
                        %li.text-warning.text-center Error:
                          =error
                  .row.checkbox-multi-select
                    - rows = len(list(form.issues))/3
                    - tmp_list = list(form.issues)
                    - tmp1, tmp2, tmp3 = tmp_list[0:rows], tmp_list[rows:2*rows], tmp_list[2*rows::]
                    - for field_list in [tmp1, tmp2, tmp3]:
                      .col-sm-4
                        - for subfield in field_list:
                          %div.checkbox-container
                            = subfield()
                            = subfield.label()
                            %br

              - if document.analysis_nature.nature == AnalysisNature.CHILDREN:
                %hr
                %section
                  %h4&=form.child_focus.label.text
                  .btn-group(dataToggle='buttons')
                    - for fld in form.child_focus:
                      %label.btn.btn-default(class_='active' if fld.checked else '')
                        = fld()
                        &= fld.label.text

                .row
                  .col-sm-6
                    %section
                      %h4 Quality
                      - for f in form.quality_fields:
                        = field_input(f)

                  .col-sm-6
                    %section
                      %h4 Secondary Victimisation
                      - for f in form.abuse_fields:
                        = field_input(f)
                %hr
                %section
                  %h4 Journalistic Principles for Children

                  %table.table-condensed.table-bordered.principles
                    %thead
                      %tr
                        %th.support Supported
                        %th Principle
                        %th.violate Violated
                    - for support_field, violate_field in izip(form.principle_supported_id, form.principle_violated_id):
                      %tr
                        %td.support= support_field
                        %td
                          %span(title=form.principle_descriptions.get(support_field.label.text, ''))&= support_field.label.text
                        %td.violate= violate_field

              - if document.analysis_nature.nature == AnalysisNature.ELECTIONS:
                %hr
                %section
                  %h4 Bias

                  %table.table.table-striped.table-condensed.fairness
                    %tbody
                      %tr
                        %th Bias
                        %th Favour
                        %th Disfavour
                        %th
                      - for f in fairness_forms + [new_fairness_form]:
                        - class_ = ''
                        - class_ += ' template' if f == new_fairness_form else ''
                        - class_ += ' new' if f.is_new() else ''
                        - class_ += ' deleted' if f.deleted.data == '1' else ''

                        %tr(class_=class_, dataFairnessId=f.document_fairness.id if not f.is_new() and f.document_fairness else '')
                          %td
                            = f.deleted
                            = field_input(f.fairness_id)
                          %td
                            = field_input(f.bias_favour_affiliation_id, class_='select2')
                          %td
                            = field_input(f.bias_oppose_affiliation_id, class_='select2')
                          %td
                            %a.btn.btn-link.delete(href="#", title='delete this')
                              %i.fa.fa-times-circle
                            - if not f.is_new():
                              %a.btn.btn-link.undo-delete(href="#", title='re-add this') undo

            %%include(file='analysis_tab_mentions.haml')
            %%include(file='analysis_tab_places.haml')
            %%include(file='analysis_tab_keywords.haml')
