%%inherit(file="layout.haml")
%%namespace(file="../bootstrap_wtf.haml", **{'import': '*'})

%%block(name="title")
  &= document.title

.row
  .col-sm-5
    %%include(file="details.haml")

  .col-sm-7
    %form.edit-analysis(action=url_for('edit_article_analysis', id=document.id), method='POST')
      = form.csrf_token

      .panel.panel-default.analysis
        .panel-heading
          .row
            .col-sm-8
              %h3.panel-title Analysis
            .col-sm-4.text-right
              %a.btn.btn-default(href=url_for('show_article', id=document.id)) Close
              %input.btn.btn-success(type='submit', value='Save changes')

        .panel-body
          %section.form-horizontal

            = field(form.topic_id, class_='chosen-select')
            = field(form.origin_location_id, class_='chosen-select')
          %hr
          %p
            %strong Issues
          %section.form-horizontal
            - if form.issues.errors:
              %ul.list-unstyled
                - for error in form.issues.errors:
                  %li.text-warning.text-center Error:
                    =error
            .row.checkbox-multi-select
              - rows = len(list(form.issues))/3
              - tmp_list = list(form.issues)
              - tmp1, tmp2, tmp3 = tmp_list[0:rows], tmp_list[rows:2*rows], tmp_list[2*rows::]
              - for field_list in [tmp1, tmp2, tmp3]:
                .col-sm-4
                  - for subfield in field_list:
                    %div.checkbox-container
                      = subfield()
                      = subfield.label()
                      %br
          %hr

          %section
            %ul.nav.nav-pills
              %li.active
                %a(href="#sources-tab", dataToggle="tab")
                  Sources
                  %span.badge&= len(document.sources)
              %li
                %a(href="#mentions-tab", dataToggle="tab")
                  Mentions
                  %span.badge&= len(document.people()) + len(document.organisations())
              %li
                %a(href="#places-tab", dataToggle="tab")
                  Places
                  %span.badge&= len(document.places())
              %li
                %a(href="#keywords-tab", dataToggle="tab")
                  Keywords
                  %span.badge&= len(document.keywords)

            .tab-content
              #sources-tab.tab-pane.active
                %h3 Sources
                %table.table.table-striped.table-condensed.sources
                  %thead
                    %tr
                      %th Name
                      %th Function
                      %th Quoted?
                      %th
                  %tbody
                    - for f in new_sources:
                      %tr.new
                        %td&= field_input(f.person_name)
                        %td&= field_input(f.source_function_id)
                        %td&= field_input(f.quoted)

                    %tr.template
                      %td&= field_input(new_source_form.person_name)
                      %td&= field_input(new_source_form.source_function_id)
                      %td&= field_input(new_source_form.quoted)
                      %td.text-right
                        %a.btn.delete(href="#", title='delete this source')
                          %i.fa.fa-times-circle

                %table.table.table-striped.table-condensed.offsets.sources
                  %thead
                    %tr
                      %th Name
                      %th Function
                      %th Quoted?
                      %th
                  %tbody
                    - for source_form in source_forms:
                      - ds = source_form.source

                      %tr(dataOffsets=ds.offset_list, dataSourceId=ds.id)
                        %td
                          %a(href= url_for('show_entity', group=ds.entity.group, name=ds.entity.name))&=ds.entity.name
                          - if ds.person and ds.person.gender:
                            %span.text-muted(title=ds.person.gender.name)
                              %strong&=
                                " - " + ds.person.gender.abbr()
                          - if ds.person and ds.person.race:
                            %span.text-muted(title=ds.person.race.name)
                              %strong&=
                                " (" + ds.person.race.abbr() + ")"
                        %td= field_input(source_form.source_function_id)
                        %td
                          %input(type='hidden', name=source_form.quoted.name, value=source_form.quoted.data)
                          &= 'yes' if ds.quoted else 'no'
                          - if len(ds.utterances()) > 0:
                            %span.badge&= len(ds.utterances())
                        %td.text-right
                          %a.btn.delete(href="#", title='delete this source')
                            %i.fa.fa-times-circle
                      - for q in ds.utterances():
                        %tr.quotation(dataOffsets=('%d:%d' % (q.offset, q.length) if q.offset else ''))
                          %td(colspan="4")&= q.quote


              %%include(file='analysis_tab_mentions.haml')
              %%include(file='analysis_tab_places.haml')
              %%include(file='analysis_tab_keywords.haml')

        .panel-footer
          .text-right
            %a.btn.btn-default(href=url_for('show_article', id=document.id)) Close
            %input.btn.btn-success(type='submit', value='Save changes')
