%%inherit(file="layout.haml")
%%namespace(file="../bootstrap_wtf.haml", **{'import': '*'})

%%block(name="title")
  &= document.title

.row
  .col-sm-5
    %%include(file="details.haml")

  .col-sm-7
    %form.edit-analysis(action=url_for('edit_article_analysis', id=document.id), method='POST')
      = form.csrf_token

      .panel.panel-default.analysis
        .panel-heading
          .row
            .col-sm-8
              %h3.panel-title Analysis
            .col-sm-4.text-right
              %a.btn.btn-default(href=url_for('show_article', id=document.id))
                Close
              %input.btn.btn-primary(type='submit', value='Save')

        .panel-body
          %section.form-horizontal

            = field(form.topic_id, class_='chosen-select')
            = field(form.origin_location_id, class_='chosen-select')
          %hr
          %p
            %strong Issues
          %section.form-horizontal
            - if form.issues.errors:
              %ul.list-unstyled
                - for error in form.issues.errors:
                  %li.text-warning.text-center Error:
                    =error
            .row.checkbox-multi-select
              - rows = len(list(form.issues))/3
              - tmp_list = list(form.issues)
              - tmp1, tmp2, tmp3 = tmp_list[0:rows], tmp_list[rows:2*rows], tmp_list[2*rows::]
              - for field_list in [tmp1, tmp2, tmp3]:
                .col-sm-4
                  - for subfield in field_list:
                    %div.checkbox-container
                      = subfield()
                      = subfield.label()
                      %br
          %hr

          %section
            %ul.nav.nav-pills
              %li.active
                %a(href="#sources-tab", dataToggle="tab")
                  Sources
                  %span.badge&= len(document.sources)
              %li
                %a(href="#mentions-tab", dataToggle="tab")
                  Mentions
                  %span.badge&= len(document.people()) + len(document.organisations())
              %li
                %a(href="#places-tab", dataToggle="tab")
                  Places
                  %span.badge&= len(document.places())
              %li
                %a(href="#keywords-tab", dataToggle="tab")
                  Keywords
                  %span.badge&= len(document.keywords)

            .tab-content
              #sources-tab.tab-pane.active
                %h3 Sources
                %table.table.table-striped.table-condensed.entities
                  %thead
                    %tr
                      %th Name
                      %th
                      %th Quoted?
                      %th Named?
                  %tbody
                    %tr.new.template
                      %td
                        &= field_input(new_source_form.person_name)
                      %td
                        &= field_input(new_source_form.source_function_id)
                      %td
                        &= field_input(new_source_form.quoted)


                    - sources = sorted(document.sources, key=lambda s: s.entity.name)
                    - for ds in sources:
                      %tr(dataOffsets=ds.offset_list)
                        %td
                          %a(href= url_for('show_entity', group=ds.entity.group, name=ds.entity.name))&=ds.entity.name
                          - if ds.person and ds.person.gender:
                            %span.text-muted(title=ds.person.gender.name)
                              %strong&=
                                " - " + ds.person.gender.abbr()
                          - if ds.person and ds.person.race:
                            %span.text-muted(title=ds.person.race.name)
                              %strong&=
                                " (" + ds.person.race.abbr() + ")"
                        %td
                          - if ds.function:
                            %span.label.label-default&=ds.function.name
                        %td
                          &= 'yes' if ds.quoted else 'no'
                          - if len(ds.utterances()) > 0:
                            %span.badge&= len(ds.utterances())
                        %td&= 'yes' if ds.named else 'no'
                      - for q in ds.utterances():
                        %tr.quotation(dataOffsets=('%d:%d' % (q.offset, q.length) if q.offset else ''))
                          %td(colspan="5")&= q.quote

              #mentions-tab.tab-pane
                %h3 People
                %table.table.table-striped.table-condensed.entities
                  %thead
                    %th Name
                    %th.text-center Race
                    %th.text-center Gender
                    %th Relevance
                  - for dp in document.people():
                    - person = dp.entity.person

                    %tr(dataOffsets=dp.offset_list)
                      %td
                        %a(href= url_for('show_entity', group=dp.entity.group, name=dp.entity.name))&=dp.entity.name
                      %td.text-center
                        - if person:
                          - if person.race:
                            %span.text-muted(title=person.race.name)
                              %strong&= person.race.abbr()
                      %td.text-center
                        - if person:
                          - if person.gender:
                            %span.text-muted(title=person.gender.name)
                              %strong&= person.gender.abbr()
                      %td&= dp.relevance

                %h3 Organisations
                %table.table.table-striped.table-condensed.entities
                  - for org in document.organisations():
                    %tr(dataOffsets=org.offset_list)
                      %td&= org.entity.name
                      %td&= org.relevance

              #places-tab.tab-pane
                %h3 Places
                %table.table.table-striped.table-condensed.entities
                  - for p in document.places():
                    %tr(dataOffsets=p.offset_list)
                      %td&= p.entity.name
                      %td&= p.entity.group
                      %td&= p.relevance

              #keywords-tab.tab-pane
                %h3 Keywords
                %table.table.table-striped.table-condensed.entities
                  - for kw in document.keywords:
                    %tr(dataOffsets=kw.offset_list)
                      %td&= kw.keyword
                      %td&= kw.relevance
