%%inherit(file="layout.haml")
%%namespace(file="../bootstrap_wtf.haml", **{'import': '*'})

- from dexter.models import AnalysisNature

%%block(name="title")
  &= document.title


.row
  .col-sm-5
    %%include(file="details.haml")

  .col-sm-7
    %form.safedirty.edit-analysis(action=url_for('edit_article_analysis', id=document.id), method='POST', dataRemote='true')
      = form.csrf_token

      .panel.panel-default.analysis
        .panel-heading
          .row
            .col-sm-5
              %h3.panel-title
                %i.fa(class_=document.analysis_nature.icon())
                &= document.analysis_nature.name.title()
                Analysis
                - if document.checked_by:
                  by
                  &= document.checked_by.short_name()
            .col-sm-7.text-right
              .btn-group.text-left
                %button.btn.btn-default.dropdown-toggle(type="button", dataToggle='dropdown')
                  %i.fa(class_=document.analysis_nature.icon())
                  &= document.analysis_nature.name
                  %span.caret
                %ul.dropdown-menu
                  - for nature in natures:
                    %li(class_ = 'disabled' if document.analysis_nature == nature else '')
                      %a(href=url_for('edit_article_analysis_nature', id=document.id, nature=nature.name), dataMethod='post', dataConfirm='Change to %s analysis?' % nature.name)
                        - if document.analysis_nature == nature:
                          %i.fa.fa-check
                        %i.fa(class_=nature.icon())
                        &= nature.name


              %a.btn.btn-default(href=url_for('show_article', id=document.id)) Close
              %input.btn.btn-success(type='submit', value='Save changes', dataDisableWith='Saving...')

        .panel-body
          %%include(file="analysis_warnings.haml")

          %ul.nav.nav-tabs
            %li.active
              %a(href="#analysis-tab", dataToggle="tab") Analysis
            %li
              %a(href="#places-tab", dataToggle="tab")
                Places
                %span.badge&= len(document.places)
            %li
              %a(href="#mentions-tab", dataToggle="tab")
                Mentions
                %span.badge&= len(document.people()) + len(document.organisations())
            %li
              %a(href="#keywords-tab", dataToggle="tab")
                Keywords
                %span.badge&= len(document.keywords)

          .tab-content
            #analysis-tab.tab-pane.active
              %section.form-horizontal
                %h4 Analysis

                = field(form.topic_id, class_='select2')
                = field(form.origin_location_id, class_='select2')

              %hr
              %section.sources
                %%include(file='edit_analysis_sources.haml')

              - if form.issues.choices:
                %hr
                %section.form-horizontal
                  %h4 Issues Raised
                  - if form.issues.errors:
                    %ul.list-unstyled
                      - for error in form.issues.errors:
                        %li.text-warning.text-center Error:
                          =error
                  .row.checkbox-multi-select
                    - rows = len(list(form.issues))/3
                    - tmp_list = list(form.issues)
                    - tmp1, tmp2, tmp3 = tmp_list[0:rows], tmp_list[rows:2*rows], tmp_list[2*rows::]
                    - for field_list in [tmp1, tmp2, tmp3]:
                      .col-sm-4
                        - for subfield in field_list:
                          %div.checkbox-container
                            = subfield()
                            = subfield.label()
                            %br

              - if document.analysis_nature == AnalysisNature.CHILDREN:
                %hr
                %section
                  %h4 Child Focus
                  = field_input(form.child_focus)

                .row
                  .col-sm-6
                    %section
                      %h4 Quality
                      - for f in form.quality_fields:
                        = field_input(f)

                  .col-sm-6
                    %section
                      %h4 Secondary Victimisation
                      - for f in form.abuse_fields:
                        = field_input(f)
                %hr
                %section
                  %h4 Journalistic Principles for Children
                  = vertical_field(form.principle_supported_id, class_='select2')
                  = vertical_field(form.principle_violated_id, class_='select2')

              - if document.analysis_nature == AnalysisNature.ELECTIONS:
                %hr
                %section
                  %h4 Bias

                  %table.table.table-striped.table-condensed.fairness
                    %tbody
                      %tr
                        %th Bias
                        %th Favour
                        %th Disfavour
                        %th
                      - for f in fairness_forms + [new_fairness_form]:
                        - class_ = ''
                        - class_ += ' template' if f == new_fairness_form else ''
                        - class_ += ' new' if f.is_new() else ''
                        - class_ += ' deleted' if f.deleted.data == '1' else ''

                        %tr(class_=class_, dataFairnessId=f.document_fairness.id if not f.is_new() and f.document_fairness else '')
                          %td
                            = f.deleted
                            = field_input(f.fairness_id)
                          %td
                            = field_input(f.bias_favour_affiliation_id, class_='select2')
                          %td
                            = field_input(f.bias_oppose_affiliation_id, class_='select2')
                          %td
                            %a.btn.btn-link.delete(href="#", title='delete this')
                              %i.fa.fa-times-circle
                            - if not f.is_new():
                              %a.btn.btn-link.undo-delete(href="#", title='re-add this') undo

            %%include(file='analysis_tab_mentions.haml')
            %%include(file='analysis_tab_places.haml')
            %%include(file='analysis_tab_keywords.haml')

        .panel-footer
          .text-right
            %a.btn.btn-default(href=url_for('show_article', id=document.id)) Close
            %input.btn.btn-success(type='submit', value='Save changes', dataDisableWith='Saving...')
