%%namespace(file="../bootstrap_wtf.haml", **{'import': '*'})

.form-group
  = field_input(form.title, placeholder='Article headline', required=True)
.form-group
  = field_input(form.url, placeholder='URL')

.row
  .col-sm-2
    = vertical_field(form.published_at, placeholder='YYYY/MM/DD', class_='use-datepicker')
  .col-sm-3
    = vertical_field(form.medium_id, required=True, class_='chosen-select')
  .col-sm-3
    = vertical_field(form.document_type_id, required=True, class_='chosen-select')

= vertical_field(form.blurb, placeholder='Blurb')
= vertical_field(form.text, rows=15, placeholder='The text of the article', required=True)
