%%namespace(file="../bootstrap_wtf.haml", **{'import': '*'})
- from dexter.models import AnalysisNature

= vertical_field(form.title, placeholder='Article headline', required=True)

- if form.is_new():
  .form-group
    - for nature in form.analysis_nature_id:
      .checkbox
        - nature.id = nature.id + "-2"
        = nature
        - kwargs = {'for': nature.id}
        %label(**kwargs)
          %i.fa(class_=AnalysisNature.ICONS.get(int(nature.data)))
          = nature.label.text

.row
  .col-sm-2
    = vertical_field(form.published_at, placeholder='YYYY/MM/DD hh:mm', class_='use-datetimepicker', **{'data-format':'YYYY/MM/DD HH:mm',})
  .col-sm-2
    = vertical_field(form.item_num, min=1, max=100)
  .col-sm-3
    = vertical_field(form.medium_id, class_='select2')
  .col-sm-4
    = vertical_field(form.document_type_id, class_='select2')

.author-widget
  .form-group
    %label.control-label(for_='author-name') Author
    .row
      .col-sm-3
        = field_input(author_form.name, required=True)
      .col-sm-9
        .author-details
        .new-author-details(class_ = 'hidden' if not form.author_id.errors else '')
          .row
            .col-sm-4
              = field_input(author_form.author_type_id)
            .col-sm-4
              = field_input(author_form.person_gender_id)
            .col-sm-4
              = field_input(author_form.person_race_id)

.url
  = vertical_field(form.url, placeholder='URL')
= vertical_field(form.summary, placeholder='Summary', maxlength=1024, rows=2)
= vertical_field(form.text, rows=15, placeholder='The text of the article')
