%%namespace(file="../bootstrap_wtf.haml", **{'import': '*'})

= vertical_field(form.title, placeholder='Article headline', required=True)

.row
  .col-sm-2
    = vertical_field(form.published_at, placeholder='YYYY/MM/DD hh:mm', class_='use-datetimepicker', **{'data-format':'YYYY/MM/DD HH:mm',})
  .col-sm-2
    = vertical_field(form.item_num)
  .col-sm-3
    = vertical_field(form.medium_id, required=True, class_='chosen-select')
  .col-sm-4
    = vertical_field(form.document_type_id, class_='chosen-select')

.author-widget
  .form-group
    %label.control-label(for_='author-name') Author
    .row
      .col-sm-3
        = field_input(author_form.name, required=True)
      .col-sm-9
        .author-details
        .new-author-details(class_ = 'hidden' if not form.author_id.errors else '')
          .row
            .col-sm-4
              = field_input(author_form.author_type_id)
            .col-sm-4
              = field_input(author_form.person_gender_id)
            .col-sm-4
              = field_input(author_form.person_race_id)

= vertical_field(form.url, placeholder='URL')
= vertical_field(form.summary, placeholder='Summary')
= vertical_field(form.text, rows=15, placeholder='The text of the article')
