%%inherit(file="../layout.haml")
%%namespace(file="../bootstrap_wtf.haml", **{'import': '*'})

%%block(name="extra_header_tags")
  - for url in webassets('maps-css'):
    %link(rel="stylesheet", href=url)

%%block(name='extra_javascript')
  - for url in webassets('documents'):
    %script(src=url)

%%block(name="title")
  Add article

- from dexter.models import AnalysisNature

#new-document
  %article
    %section
      %h2 Add a new article

      %form(action=url_for('new_article'), method='POST')
        = form.csrf_token

        %fieldset
          %legend By fetching a webpage

          .form-group
            = field_input(form.url, placeholder='URL', autofocus=True)

          .form-group
            - for nature in form.analysis_nature_id:
              .checkbox
                = nature
                - kwargs = {'for': nature.id}
                %label(**kwargs)
                  %i.fa(class_=AnalysisNature.ICONS.get(int(nature.data)))
                  = nature.label.text

          %input.btn.btn-success(type='submit', value="Fetch and add article", dataDisableWith='Fetching...')

      %form.safedirty.new-document(action=url_for('new_article'), method='POST')
        = form.csrf_token

        %fieldset.document-container
          %legend Or by typing it in

          %%include(file="form.haml")

          %input(type='hidden', name='manual', value='True')
          %input.btn.btn-success(type='submit', value='Add new article', dataDisableWith='Adding...')

